In [5]:
import re
import math
import numpy as np
import pandas as pd
import plotly.figure_factory as ff
import plotly
from plotly.offline import iplot, init_notebook_mode

init_notebook_mode(connected=True)

def plot(figure):
    plotly.offline.iplot(figure)

In [6]:
states = pd.read_csv('state_alpha_to_numeric.csv', sep=',', header=None, names=['alpha','num'])
alphas = list(states['alpha'])
nums = list(states['num'])
statenum = {state:code for (state,code) in zip(alphas,nums)}
for state in statenum.keys():
    statenum[state] = str(statenum[state]).zfill(2)

In [7]:
agCensus = pd.read_csv('2017_cdqt_data.txt', sep='\t', header=0, low_memory=False)
agCensusAnimals = agCensus[
        (agCensus['CENSUS_CHAPTER'] == 2) &
        (agCensus['SECTOR_DESC'] == 'ANIMALS & PRODUCTS') &
        (agCensus['AGG_LEVEL_DESC'] == 'COUNTY') & 
        (agCensus['CENSUS_TABLE'] != 1)
    ]


agCensusAnimals['STATE_FIPS_CODE'] = agCensusAnimals['STATE_FIPS_CODE'].apply(lambda x: str(int(x)).zfill(2))
agCensusAnimals['COUNTY_CODE'] = agCensusAnimals['COUNTY_CODE'].apply(lambda x: str(int(x)).zfill(3))
agCensusAnimals['FIPS'] = agCensusAnimals['STATE_FIPS_CODE'] + agCensusAnimals['COUNTY_CODE']

agCensusAnimals.drop(columns=['CENSUS_CHAPTER', 'CENSUS_TABLE', 'SECTOR_DESC',
                              'AGG_LEVEL_DESC', 'STATE_FIPS_CODE', 'COUNTY_CODE'], inplace=True)
agCensusAnimals.columns

Index(['CENSUS_ROW', 'CENSUS_COLUMN', 'SHORT_DESC', 'COMMODITY_DESC',
       'STATE_ALPHA', 'STATE_NAME', 'COUNTY_NAME', 'DOMAINCAT_DESC', 'VALUE',
       'FIPS'],
      dtype='object')

In [4]:
animalCensus = {
    state : 
        agCensusAnimals[
            (agCensusAnimals['STATE_ALPHA'] == state) &
            agCensusAnimals['COUNTY_NAME'].str.contains('.+', na=False)
        ]
    for state in statenum.keys()}

In [ ]:
animalCensus['TX']['STATE_ALPHA'].unique()

In [5]:
shortdescs = list(animalCensus['TX']['SHORT_DESC'].unique())
inventory_filter = re.compile('^.* - INVENTORY')
animal_keys = list(filter(inventory_filter.match, shortdescs))
animal_keys

['CATTLE, INCL CALVES - INVENTORY',
 'CATTLE, COWS - INVENTORY',
 'CATTLE, COWS, BEEF - INVENTORY',
 'CATTLE, COWS, MILK - INVENTORY',
 'CATTLE, (EXCL COWS) - INVENTORY',
 'CATTLE, ON FEED - INVENTORY',
 'HOGS - INVENTORY',
 'SHEEP, INCL LAMBS - INVENTORY',
 'GOATS - INVENTORY',
 'GOATS, MILK - INVENTORY',
 'GOATS, ANGORA - INVENTORY',
 'GOATS, MEAT & OTHER - INVENTORY',
 'EQUINE, HORSES & PONIES - INVENTORY',
 'EQUINE, MULES & BURROS & DONKEYS - INVENTORY',
 'CHICKENS, LAYERS - INVENTORY',
 'CHICKENS, PULLETS, REPLACEMENT - INVENTORY',
 'CHICKENS, BROILERS - INVENTORY',
 'TURKEYS - INVENTORY',
 'CHUKARS - INVENTORY',
 'DUCKS - INVENTORY',
 'EMUS - INVENTORY',
 'GEESE - INVENTORY',
 'GUINEAS - INVENTORY',
 'PARTRIDGES, HUNGARIAN - INVENTORY',
 'OSTRICHES - INVENTORY',
 'PEAFOWL, HENS & COCKS - INVENTORY',
 'PHEASANTS - INVENTORY',
 'PIGEONS & SQUAB - INVENTORY',
 'QUAIL - INVENTORY',
 'RHEAS - INVENTORY',
 'CHICKENS, ROOSTERS - INVENTORY',
 'POULTRY, OTHER - INVENTORY',
 'HONEY, BEE COLONIES - INVENTORY, MEASURED IN COLONIES',
 'ALPACAS - INVENTORY',
 'BISON - INVENTORY',
 'DEER - INVENTORY',
 'ELK - INVENTORY',
 'LLAMAS - INVENTORY',
 'RABBITS, LIVE - INVENTORY']

In [6]:
animalInventories = {
    state : 
    {key : animalCensus[state][animalCensus[state]['SHORT_DESC'] == key] for key in animal_keys}
    for state in statenum.keys()
}

for state in statenum.keys():
    for key in animal_keys:
        animalInventories[state][key] = animalInventories[state][key][animalInventories[state][key]['DOMAINCAT_DESC'].isnull()]

for state in statenum.keys():
    for key in animal_keys:
        #if animalInventories[state][key].shape[0] > 0:
        animalInventories[state][key] = animalInventories[state][key][~animalInventories[state][key]['VALUE'].str.contains('D')]   
        animalInventories[state][key]['VALUE'] = animalInventories[state][key]['VALUE'].apply(lambda s: int(s.replace(',', '')))
        #animalInventories[state][key] = animalInventories[state][key][animalInventories[state][key]['VALUE'].apply(lambda x: isinstance(x,float))]
        #animalInventories[state][key] = animalInventories[state][key][animalInventories[state][key]['VALUE'].notnull()]                                                                                              

#for key in animal_keys:
#       print(key, animalInventories['TX']['CENSUS_ROW'].unique())
        
#animalInventories['TX']['CATTLE, INCL CALVES - INVENTORY']['CENSUS_ROW'].unique()     

for state in statenum.keys():
    for key in animal_keys:
        animalInventories[state][key].drop(columns=['CENSUS_ROW', 'CENSUS_COLUMN', 'DOMAINCAT_DESC', 'STATE_ALPHA', 'STATE_NAME', 'SHORT_DESC', 'COMMODITY_DESC'], inplace=True)

In [7]:
#for state in statenum.keys():
#    for key in animal_keys:
#        animalInventories[state][key]['COUNTY_CODE'] = animalInventories[state][key]['COUNTY_CODE'].astype(int)
#        animalInventories[state][key].set_index('COUNTY_CODE', inplace=True)

for state in statenum.keys():
    for key in animal_keys:
        animalInventories[state][key].set_index('FIPS', inplace=True)

In [ ]:
animalInventories['NY']['CATTLE, INCL CALVES - INVENTORY']

# Should now try to reindex by county code here.

In [38]:
disease_data_states = ['TX', 'NY', 'WA']
disease_data_diseases = ['Campylobacteriosis', 'Salmonellosis', 'STEC']
disease_data = {
    state : {disease :
        pd.read_csv('Disease Data/' + state + '/' + state + '_' + disease + '.csv',
                    header = 0,
                    sep = ',')
        for disease in disease_data_diseases}
    for state in disease_data_states}

In [1]:
def rate_columns(state_alpha, disease):
    columns = list(disease_data[state_alpha][disease].columns)
    regex = re.compile(r'^\d\d\d\d RATE$')
    return list(filter(regex.search, columns))

def corr_count(s):
    return s.split()[0] + ' COUNT'

countyInfo = pd.read_csv('US_County_Info.csv', sep=',', header=0)
countyInfo.set_index('FIPS', inplace=True, drop=False)

def FIPS(state_alpha, county_name):
    county = county_name.upper()
    state = state_alpha
    fips = list(countyInfo[(countyInfo['County'].str.upper()==county.upper()) & (countyInfo['State']==state)]['FIPS'])[0]
    return str(fips)

def infer_rate(state_alpha, county_name, count, rate):
    if np.isnan(rate):
        fips = int(FIPS(state_alpha, county_name))
        pop_in_100K = float(countyInfo['Population\n(2010)'][fips]) / 100000
        return float(count) / pop_in_100K
    else:
        return float(rate)

NameError: name 'pd' is not defined

In [40]:
countyInfo

,State,FIPS,County,County Seat(s),Population\n(2010),Land Area\nkm²,Land Area\nmi²,Water Area\nkm²,Water Area\nmi²,Total Area\nkm²,Total Area\nmi²,Latitude,Longitude
FIPS,,,,,,,,,,,,,
1001,AL,1001,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1003,AL,1003,Baldwin,Bay Minette,182265,4117.522,1589.784,1133.19,437.527,5250.712,2027.311,+30.659218°,–87.746067°
1005,AL,1005,Barbour,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
1007,AL,1007,Bibb,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
1009,AL,1009,Blount,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
1011,AL,1011,Bullock,Union Springs,10914,1613.057,622.805,6.057,2.338,1619.113,625.143,+32.101759°,–85.717261°
1013,AL,1013,Butler,Greenville,20947,2011.977,776.829,2.727,1.053,2014.704,777.882,+31.751667°,–86.681969°
1015,AL,1015,Calhoun,Anniston,118572,1569.190,605.868,16.624,6.419,1585.814,612.287,+33.771706°,–85.822513°
1017,AL,1017,Chambers,Lafayette,34215,1545.009,596.531,17.048,6.582,1562.057,603.113,+32.917943°,–85.391812°
1019,AL,1019,Cherokee,Centre,25989,1434.076,553.700,119.859,46.278,1553.935,599.978,+34.069515°,–85.654242°
1021,AL,1021,Chilton,Clanton,43643,1794.484,692.854,20.586,7.948,1815.070,700.802,+32.854060°,–86.726628°
1023,AL,1023,Choctaw,Butler,13859,2365.955,913.500,19.059,7.359,2385.014,920.859,+31.991008°,–88.248887°
1025,AL,1025,Clarke,Grove Hill,25833,3207.609,1238.465,36.543,14.109,3244.152,1252.574,+31.685521°,–87.818624°
1027,AL,1027,Clay,Ashland,13932,1564.252,603.961,5.285,2.04,1569.537,606.001,+33.267809°,–85.862051°
1029,AL,1029,Cleburne,Heflin,14972,1450.653,560.100,2.366,0.913,1453.018,561.013,+33.671981°,–85.516109°
1031,AL,1031,Coffee,"Elba, Enterprise",49948,1758.529,678.972,3.945,1.523,1762.474,680.495,+31.402183°,–85.989201°
1033,AL,1033,Colbert,Tuscumbia,54428,1534.877,592.619,76.431,29.51,1611.308,622.129,+34.703112°,–87.801457°
1035,AL,1035,Conecuh,Evergreen,13228,2201.895,850.156,6.645,2.566,2208.540,852.722,+31.428293°,–86.992029°
1037,AL,1037,Coosa,Rockford,11539,1685.891,650.926,39.947,15.423,1725.838,666.349,+32.931445°,–86.243482°
1039,AL,1039,Covington,Andalusia,37765,2668.870,1030.456,34.526,13.331,2703.396,1043.787,+31.243987°,–86.448721°
1041,AL,1041,Crenshaw,Luverne,13906,1576.888,608.840,5.376,2.076,1582.264,610.916,+31.732826°,–86.319222°
1043,AL,1043,Cullman,Cullman,80406,1903.228,734.841,52.267,20.18,1955.495,755.021,+34.131923°,–86.869267°
1045,AL,1045,Dale,Ozark,50251,1453.371,561.150,4.016,1.551,1457.388,562.701,+31.430654°,–85.609476°
1047,AL,1047,Dallas,Selma,43820,2534.807,978.695,39.135,15.11,2573.942,993.805,+32.333540°,–87.114356°
1049,AL,1049,DeKalb,Fort Payne,71109,2012.662,777.093,4.124,1.592,2016.786,778.685,+34.460929°,–85.803992°
1051,AL,1051,Elmore,Wetumpka,79303,1601.868,618.485,99.863,38.557,1701.730,657.042,+32.597229°,–86.142739°
1053,AL,1053,Escambia,Brewton,38319,2447.747,945.080,20.873,8.059,2468.620,953.139,+31.121748°,–87.168429°
1055,AL,1055,Etowah,Gadsden,104430,1385.619,534.991,35.323,13.638,1420.942,548.629,+34.047638°,–86.034420°
1057,AL,1057,Fayette,Fayette,17241,1625.632,627.660,4.393,1.696,1630.024,629.356,+33.732249°,–87.752049°
1059,AL,1059,Franklin,Russellville,31704,1641.588,633.821,32.898,12.702,1674.486,646.523,+34.441988°,–87.842815°
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55129,WI,55129,Washburn,Shell Lake,15911,2064.513,797.113,145.566,56.204,2210.080,853.317,+45.892463°,–91.796423°
55131,WI,55131,Washington,West Bend,131887,1115.515,430.703,13.005,5.021,1128.520,435.724,+43.391156°,–88.232917°
55133,WI,55133,Waukesha,Waukesha,389891,1423.389,549.574,80.347,31.022,1503.736,580.596,+43.019308°,–88.306707°
55135,WI,55135,Waupaca,Waupaca,52410,1936.567,747.713,45.302,17.491,1981.868,765.204,+44.478004°,–88.967006°
55137,WI,55137,Waushara,Wautoma,24496,1621.729,626.153,29.151,11.255,1650.881,637.408,+44.112825°,–89.239752°
55139,WI,55139,Winnebago,Oshkosh,166994,1125.316,434.487,373.178,144.085,1498.494,578.572,+44.085707°,–88.668149°
55141,WI,55141,Wood,Wisconsin Rapids,74749,2054.162,793.116,42.281,16.325,2096.443,809.441,+44.461413°,–90.038825°
56001,WY,56001,Albany,Laramie,36299,11069.194,4273.840,90.515,34.948,11159.709,4308.788,+41.665514°,–105.721883°
56003,WY,56003,Big Horn,Basin,11668,8125.044,3137.097,56.432,21.788,8181.475,3158.885,+44.525654°,–107.993321°
56005,WY,56005,Campbell,Gillette,46133,12438.959,4802.709,10.358,3.999,12449.317,4806.708,+44.241321°,–105.552029°
56007,WY,56007,Carbon,Rawlins,15885,20454.632,7897.578,171.997,66.409,20626.629,7963.987,+41.703590°,–106.933153°
56009,WY,56009,Converse,Douglas,13833,11020.096,4254.883,26.387,10.188,11046.484,4265.071,+42.972839°,–105.507367°
56011,WY,56011,Crook,Sundance,7083,7392.882,2854.408,28.2,10.888,7421.082,2865.296,+44.589266°,–104.567298°
56013,WY,56013,Fremont,Lander,40123,23785.968,9183.814,212.131,81.904,23998.099,9265.718,+43.055303°,–108.605531°
56015,WY,56015,Goshen,Torrington,13249,5763.736,2225.391,17.581,6.788,5781.317,2232.179,+42.089580°,–104.353482°
56017,WY,56017,Hot Springs,Thermopolis,4812,5190.573,2004.092,6.008,2.32,5196.581,2006.412,+43.720871°,–108.435652°
56019,WY,56019,Johnson,Buffalo,8569,10759.206,4154.153,52.948,20.443,10812.154,4174.596,+44.044048°,–106.588541°
56021,WY,56021,Laramie,Cheyenne,91738,6956.480,2685.912,4.27,1.649,6960.749,2687.561,+41.292830°,–104.660395°
56023,WY,56023,Lincoln,Kemmerer,18106,10557.126,4076.129,49.925,19.276,10607.052,4095.405,+42.228788°,–110.679842°
56025,WY,56025,Natrona,Casper,75450,13831.447,5340.352,91.461,35.313,13922.908,5375.665,+42.973641°,–106.764877°
56027,WY,56027,Niobrara,Lusk,2484,6801.404,2626.037,4.97,1.919,6806.374,2627.956,+43.062159°,–104.468373°
56029,WY,56029,Park,Cody,28205,17979.898,6942.078,65.624,25.337,18045.521,6967.415,+44.492387°,–109.593598°
56031,WY,56031,Platte,Wheatland,8667,5398.074,2084.208,69.036,26.655,5467.110,2110.863,+42.130319°,–104.960809°
56033,WY,56033,Sheridan,Sheridan,29116,6537.113,2523.993,7.986,3.084,6545.099,2527.077,+44.781369°,–106.881211°
56035,WY,56035,Sublette,Pinedale,10247,12656.072,4886.537,127.358,49.173,12783.430,4935.710,+42.767928°,–109.916170°
56037,WY,56037,Sweetwater,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339°,–108.875676°
56039,WY,56039,Teton,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321°,–110.588102°
56041,WY,56041,Uinta,Evanston,21118,5390.450,2081.264,16.342,6.31,5406.791,2087.574,+41.284726°,–110.558947°
56043,WY,56043,Washakie,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831°,–107.669052°
56045,WY,56045,Weston,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213°,–104.570020°

In [41]:
disease_data['NY']['STEC']

,COUNTY,2017 COUNT,2017 RATE,2016 COUNT,2016 RATE,2015 COUNT,2015 RATE,2014 COUNT,2014 RATE
0,ALBANY,5,1.6,9,2.9,3,0.9,7,2.3
1,ALLEGANY,0,0.0,1,2.1,1,2.1,0,0.0
2,BROOME,3,1.5,5,2.5,4,2.0,6,3.0
3,CATTARAUGUS,2,2.6,1,1.3,1,1.3,0,0.0
4,CAYUGA,3,3.9,2,2.6,0,0.0,0,0.0
5,CHAUTAUQUA,2,1.5,3,2.3,4,3.0,3,2.3
6,CHEMUNG,0,0.0,1,1.1,1,1.1,1,1.1
7,CHENANGO,1,2.1,0,0.0,1,2.0,1,2.0
8,CLINTON,1,1.2,1,1.2,0,0.0,1,1.2
9,COLUMBIA,0,0.0,2,3.3,1,1.6,0,0.0
10,CORTLAND,0,0.0,0,0.0,0,0.0,1,2.0
11,DELAWARE,0,0.0,1,2.2,0,0.0,1,2.1
12,DUTCHESS,5,1.7,3,1.0,6,2.0,3,1.0
13,ERIE,17,1.8,17,1.8,20,2.2,11,1.2
14,ESSEX,1,2.6,0,0.0,1,2.6,1,2.6
15,FRANKLIN,1,2.0,2,3.9,2,4.0,2,3.8
16,FULTON,1,1.9,0,0.0,0,0.0,0,0.0
17,GENESEE,3,5.1,2,3.4,1,1.7,0,0.0
18,GREENE,0,0.0,2,4.2,2,4.2,0,0.0
19,HAMILTON,0,0.0,0,0.0,0,0.0,0,0.0
20,HERKIMER,4,6.4,3,4.8,2,3.2,2,3.1
21,JEFFERSON,9,7.9,12,10.2,0,0.0,0,0.0
22,LEWIS,10,37.2,4,14.8,5,18.4,1,3.7
23,LIVINGSTON,5,7.8,6,9.3,1,1.5,1,1.5
24,MADISON,3,4.2,4,5.6,4,5.5,1,1.4
25,MONROE,30,4.0,21,2.8,19,2.5,18,2.4
26,MONTGOMERY,2,4.1,1,2.0,2,4.0,1,2.0
27,NASSAU,18,1.3,19,1.4,12,0.8,25,1.8
28,NIAGARA,0,0.0,1,0.5,4,1.9,7,3.3
29,ONEIDA,2,0.9,6,2.6,13,5.6,8,3.5
30,ONONDAGA,14,3.0,44,9.4,19,4.1,9,1.9
31,ONTARIO,2,1.8,1,0.9,1,0.9,3,2.7
32,ORANGE,4,1.1,5,1.3,6,1.6,5,1.4
33,ORLEANS,1,2.4,1,2.4,2,4.8,0,0.0
34,OSWEGO,2,1.7,1,0.8,1,0.8,2,1.6
35,OTSEGO,1,1.7,0,0.0,4,6.5,1,1.6
36,PUTNAM,1,1.0,2,2.0,0,0.0,2,2.0
37,RENSSELAER,2,1.2,1,0.6,1,0.6,2,1.2
38,ROCKLAND,9,2.8,4,1.2,6,1.8,5,1.5
39,ST. LAWRENCE,6,5.5,7,6.3,2,1.8,2,1.8
40,SARATOGA,4,1.8,3,1.3,2,0.9,4,1.8
41,SCHENECTADY,4,2.6,2,1.3,0,0.0,3,1.9
42,SCHOHARIE,0,0.0,1,3.2,1,3.2,2,6.2
43,SCHUYLER,2,11.1,0,0.0,0,0.0,0,0.0
44,SENECA,1,2.9,0,0.0,1,2.9,0,0.0
45,STEUBEN,3,3.1,3,3.1,1,1.0,2,2.0
46,SUFFOLK,17,1.1,14,0.9,9,0.6,22,1.4
47,SULLIVAN,2,2.7,3,4.0,0,0.0,1,1.3
48,TIOGA,0,0.0,2,4.0,1,2.0,1,2.0
49,TOMPKINS,5,4.8,3,2.9,7,6.7,6,5.8
50,ULSTER,2,1.1,5,2.8,4,2.2,4,2.2
51,WARREN,5,7.7,0,0.0,1,1.5,0,0.0
52,WASHINGTON,0,0.0,7,11.2,3,4.8,0,0.0
53,WAYNE,5,5.5,5,5.5,4,4.4,4,4.3
54,WESTCHESTER,7,0.7,10,1.0,12,1.2,15,1.5
55,WYOMING,1,2.5,2,4.9,1,2.4,2,4.8
56,YATES,3,12.0,0,0.0,0,0.0,1,4.0

In [42]:
for state in disease_data_states:
    for disease in disease_data_diseases:
        for col in rate_columns(state, disease):
            disease_data[state][disease][col] = pd.to_numeric(disease_data[state][disease][col], errors='coerce')
            #disease_data[state][disease][col] = disease_data[state][disease].apply(lambda x: infer_rate(state, x['COUNTY'], x[corr_count(col)], x[col]))

In [43]:
disease_data['WA']['STEC']

,COUNTY,2013 COUNT,2013 RATE,2014 COUNT,2014 RATE,2015 COUNT,2015 RATE,2016 COUNT,2016 RATE,2017 COUNT,2017 RATE
0,Adams,0,0.0,1,5.2,3,NaN,0,0.0,0,0.0
1,Asotin,2,NaN,1,4.6,1,NaN,0,0.0,1,NaN
2,Benton,12,6.5,9,4.9,8,4.2,12,6.3,11,5.7
3,Chelan,5,6.8,3,4.0,4,NaN,1,NaN,2,NaN
4,Clallam,2,NaN,0,0.0,2,NaN,0,0.0,4,NaN
5,Clark,51,11.7,27,6.1,45,10.0,25,5.4,38,8.1
6,Columbia,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
7,Cowlitz,0,0.0,3,NaN,8,7.7,3,NaN,6,5.7
8,Douglas,0,0.0,0,0.0,1,NaN,0,0.0,0,0.0
9,Ferry,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
10,Franklin,4,NaN,6,6.9,2,NaN,4,NaN,0,0.0
11,Garfield,0,0.0,1,NaN,1,NaN,1,NaN,0,0.0
12,Grant,6,6.5,5,5.4,9,9.6,3,NaN,7,7.3
13,Grays Harbor,2,NaN,5,6.8,4,NaN,1,NaN,1,NaN
14,Island,6,7.5,2,NaN,3,NaN,0,0.0,2,NaN
15,Jefferson,0,0.0,0,0.0,2,NaN,0,0.0,3,NaN
16,King,72,3.6,93,4.6,113,5.5,121,5.7,129,6.0
17,Kitsap,1,NaN,9,3.5,3,NaN,5,1.9,6,2.3
18,Kittitas,6,14.3,7,16.6,4,NaN,4,NaN,9,20.1
19,Klickitat,1,NaN,2,NaN,0,0.0,0,0.0,2,NaN
20,Lewis,6,7.9,8,10.5,6,7.8,7,9.1,3,NaN
21,Lincoln,1,NaN,1,NaN,1,NaN,0,0.0,1,NaN
22,Mason,2,NaN,1,NaN,0,0.0,3,NaN,2,NaN
23,Okanogan,2,NaN,2,NaN,1,NaN,1,NaN,2,NaN
24,Pacific,0,0.0,0,0.0,0,0.0,0,0.0,1,NaN
25,Pend Oreille,0,0.0,0,0.0,0,0.0,2,NaN,0,0.0
26,Pierce,14,1.7,16,1.9,26,3.1,33,3.9,41,4.8
27,San Juan,2,NaN,0,0.0,0,0.0,4,NaN,1,NaN
28,Skagit,9,7.6,11,9.2,12,9.9,10,8.2,9,7.3
29,Skamania,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
30,Snohomish,42,5.7,22,3.0,35,4.6,26,3.4,32,4.1
31,Spokane,19,4.0,16,3.3,17,3.5,17,3.5,22,4.4
32,Stevens,4,NaN,1,NaN,2,NaN,2,NaN,0,0.0
33,Thurston,20,7.7,14,5.3,8,3.0,13,4.8,16,5.8
34,Wahkiakum,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
35,Walla Walla,2,NaN,1,NaN,1,NaN,1,NaN,1,NaN
36,Whatcom,15,7.3,17,8.2,75,35.8,17,8.0,24,11.1
37,Whitman,0,0.0,0,0.0,2,NaN,1,NaN,0,0.0
38,Yakima,22,8.9,15,6.0,20,8.0,23,9.2,28,11.1

In [44]:
for state in disease_data_states:
    for disease in disease_data_diseases:
        for col in rate_columns(state, disease):
            disease_data[state][disease][col] = disease_data[state][disease].apply(lambda x: infer_rate(state, x['COUNTY'], x[corr_count(col)], x[col]), axis=1)

In [45]:
animalCensus['TX']['STATE_ALPHA'].unique()

array(['TX'], dtype=object)

In [46]:
disease_data['WA']['STEC']

,COUNTY,2013 COUNT,2013 RATE,2014 COUNT,2014 RATE,2015 COUNT,2015 RATE,2016 COUNT,2016 RATE,2017 COUNT,2017 RATE
0,Adams,0,0.000000,1,5.200000,3,16.018795,0,0.000000,0,0.000000
1,Asotin,2,9.249410,1,4.600000,1,4.624705,0,0.000000,1,4.624705
2,Benton,12,6.500000,9,4.900000,8,4.200000,12,6.300000,11,5.700000
3,Chelan,5,6.800000,3,4.000000,4,5.520820,1,1.380205,2,2.760410
4,Clallam,2,2.800964,0,0.000000,2,2.800964,0,0.000000,4,5.601927
5,Clark,51,11.700000,27,6.100000,45,10.000000,25,5.400000,38,8.100000
6,Columbia,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
7,Cowlitz,0,0.000000,3,2.929401,8,7.700000,3,2.929401,6,5.700000
8,Douglas,0,0.000000,0,0.000000,1,2.602066,0,0.000000,0,0.000000
9,Ferry,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
10,Franklin,4,5.117511,6,6.900000,2,2.558755,4,5.117511,0,0.000000
11,Garfield,0,0.000000,1,44.130627,1,44.130627,1,44.130627,0,0.000000
12,Grant,6,6.500000,5,5.400000,9,9.600000,3,3.366248,7,7.300000
13,Grays Harbor,2,2.747366,5,6.800000,4,5.494732,1,1.373683,1,1.373683
14,Island,6,7.500000,2,2.547576,3,3.821364,0,0.000000,2,2.547576
15,Jefferson,0,0.000000,0,0.000000,2,6.695233,0,0.000000,3,10.042849
16,King,72,3.600000,93,4.600000,113,5.500000,121,5.700000,129,6.000000
17,Kitsap,1,0.398195,9,3.500000,3,1.194586,5,1.900000,6,2.300000
18,Kittitas,6,14.300000,7,16.600000,4,9.776366,4,9.776366,9,20.100000
19,Klickitat,1,4.921744,2,9.843489,0,0.000000,0,0.000000,2,9.843489
20,Lewis,6,7.900000,8,10.500000,6,7.800000,7,9.100000,3,3.975880
21,Lincoln,1,9.460738,1,9.460738,1,9.460738,0,0.000000,1,9.460738
22,Mason,2,3.294947,1,1.647474,0,0.000000,3,4.942421,2,3.294947
23,Okanogan,2,4.863813,2,4.863813,1,2.431907,1,2.431907,2,4.863813
24,Pacific,0,0.000000,0,0.000000,0,0.000000,0,0.000000,1,4.780115
25,Pend Oreille,0,0.000000,0,0.000000,0,0.000000,2,15.383432,0,0.000000
26,Pierce,14,1.700000,16,1.900000,26,3.100000,33,3.900000,41,4.800000
27,San Juan,2,12.683112,0,0.000000,0,0.000000,4,25.366225,1,6.341556
28,Skagit,9,7.600000,11,9.200000,12,9.900000,10,8.200000,9,7.300000
29,Skamania,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
30,Snohomish,42,5.700000,22,3.000000,35,4.600000,26,3.400000,32,4.100000
31,Spokane,19,4.000000,16,3.300000,17,3.500000,17,3.500000,22,4.400000
32,Stevens,4,9.188854,1,2.297213,2,4.594427,2,4.594427,0,0.000000
33,Thurston,20,7.700000,14,5.300000,8,3.000000,13,4.800000,16,5.800000
34,Wahkiakum,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
35,Walla Walla,2,3.402460,1,1.701230,1,1.701230,1,1.701230,1,1.701230
36,Whatcom,15,7.300000,17,8.200000,75,35.800000,17,8.000000,24,11.100000
37,Whitman,0,0.000000,0,0.000000,2,4.466679,1,2.233339,0,0.000000
38,Yakima,22,8.900000,15,6.000000,20,8.000000,23,9.200000,28,11.100000

In [47]:
for state in disease_data_states:
    for disease in disease_data_diseases:
        disease_data[state][disease]['AVG_RATE'] = 0.0
        for column in rate_columns(state, disease):
            disease_data[state][disease]['AVG_RATE'] += disease_data[state][disease][column].astype(float)
        disease_data[state][disease]['AVG_RATE'] = disease_data[state][disease]['AVG_RATE'] / len(rate_columns(state, disease))

In [48]:
disease_data['WA']['STEC']

,COUNTY,2013 COUNT,2013 RATE,2014 COUNT,2014 RATE,2015 COUNT,2015 RATE,2016 COUNT,2016 RATE,2017 COUNT,2017 RATE,AVG_RATE
0,Adams,0,0.000000,1,5.200000,3,16.018795,0,0.000000,0,0.000000,4.243759
1,Asotin,2,9.249410,1,4.600000,1,4.624705,0,0.000000,1,4.624705,4.619764
2,Benton,12,6.500000,9,4.900000,8,4.200000,12,6.300000,11,5.700000,5.520000
3,Chelan,5,6.800000,3,4.000000,4,5.520820,1,1.380205,2,2.760410,4.092287
4,Clallam,2,2.800964,0,0.000000,2,2.800964,0,0.000000,4,5.601927,2.240771
5,Clark,51,11.700000,27,6.100000,45,10.000000,25,5.400000,38,8.100000,8.260000
6,Columbia,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000
7,Cowlitz,0,0.000000,3,2.929401,8,7.700000,3,2.929401,6,5.700000,3.851761
8,Douglas,0,0.000000,0,0.000000,1,2.602066,0,0.000000,0,0.000000,0.520413
9,Ferry,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000
10,Franklin,4,5.117511,6,6.900000,2,2.558755,4,5.117511,0,0.000000,3.938755
11,Garfield,0,0.000000,1,44.130627,1,44.130627,1,44.130627,0,0.000000,26.478376
12,Grant,6,6.500000,5,5.400000,9,9.600000,3,3.366248,7,7.300000,6.433250
13,Grays Harbor,2,2.747366,5,6.800000,4,5.494732,1,1.373683,1,1.373683,3.557893
14,Island,6,7.500000,2,2.547576,3,3.821364,0,0.000000,2,2.547576,3.283303
15,Jefferson,0,0.000000,0,0.000000,2,6.695233,0,0.000000,3,10.042849,3.347616
16,King,72,3.600000,93,4.600000,113,5.500000,121,5.700000,129,6.000000,5.080000
17,Kitsap,1,0.398195,9,3.500000,3,1.194586,5,1.900000,6,2.300000,1.858556
18,Kittitas,6,14.300000,7,16.600000,4,9.776366,4,9.776366,9,20.100000,14.110546
19,Klickitat,1,4.921744,2,9.843489,0,0.000000,0,0.000000,2,9.843489,4.921744
20,Lewis,6,7.900000,8,10.500000,6,7.800000,7,9.100000,3,3.975880,7.855176
21,Lincoln,1,9.460738,1,9.460738,1,9.460738,0,0.000000,1,9.460738,7.568590
22,Mason,2,3.294947,1,1.647474,0,0.000000,3,4.942421,2,3.294947,2.635958
23,Okanogan,2,4.863813,2,4.863813,1,2.431907,1,2.431907,2,4.863813,3.891051
24,Pacific,0,0.000000,0,0.000000,0,0.000000,0,0.000000,1,4.780115,0.956023
25,Pend Oreille,0,0.000000,0,0.000000,0,0.000000,2,15.383432,0,0.000000,3.076686
26,Pierce,14,1.700000,16,1.900000,26,3.100000,33,3.900000,41,4.800000,3.080000
27,San Juan,2,12.683112,0,0.000000,0,0.000000,4,25.366225,1,6.341556,8.878179
28,Skagit,9,7.600000,11,9.200000,12,9.900000,10,8.200000,9,7.300000,8.440000
29,Skamania,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000
30,Snohomish,42,5.700000,22,3.000000,35,4.600000,26,3.400000,32,4.100000,4.160000
31,Spokane,19,4.000000,16,3.300000,17,3.500000,17,3.500000,22,4.400000,3.740000
32,Stevens,4,9.188854,1,2.297213,2,4.594427,2,4.594427,0,0.000000,4.134984
33,Thurston,20,7.700000,14,5.300000,8,3.000000,13,4.800000,16,5.800000,5.320000
34,Wahkiakum,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000
35,Walla Walla,2,3.402460,1,1.701230,1,1.701230,1,1.701230,1,1.701230,2.041476
36,Whatcom,15,7.300000,17,8.200000,75,35.800000,17,8.000000,24,11.100000,14.080000
37,Whitman,0,0.000000,0,0.000000,2,4.466679,1,2.233339,0,0.000000,1.340004
38,Yakima,22,8.900000,15,6.000000,20,8.000000,23,9.200000,28,11.100000,8.640000

In [ ]:
cow_keys = ['CATTLE, COWS, BEEF - INVENTORY',
                 'CATTLE, COWS, MILK - INVENTORY',
                 'CATTLE, (EXCL COWS) - INVENTORY']

pig_keys = ['HOGS - INVENTORY']

chicken_keys = ['CHICKENS, LAYERS - INVENTORY',
                'CHICKENS, PULLETS, REPLACEMENT - INVENTORY',
                'CHICKENS, BROILERS - INVENTORY',
                'CHICKENS, ROOSTERS - INVENTORY']

turkey_keys =  ['TURKEYS - INVENTORY']

s1 = 'CATTLE, COWS - INVENTORY'
s2 = 'CATTLE, COWS, BEEF - INVENTORY'
s3 = 'CATTLE, COWS, MILK - INVENTORY'
s4 = 'CATTLE, (EXCL COWS) - INVENTORY'
s5 = 'CATTLE, INCL CALVES - INVENTORY'
s6 = 'CATTLE, ON FEED - INVENTORY'

d = animalInventories['NY']

d[s1]['VALUE'] + d[s2]['VALUE'] + d[s3]['VALUE'] + d[s4]['VALUE'] - d[s5]['VALUE']

things = [s1, s2, s3, s4, s5, s6]

ck = chicken_keys

layers = 0
broilers = 0

for c in d[s1].index:
    print(d[s1]['COUNTY_NAME'][c])
    #for s in chicken_keys:
        #if c in d[s].index:
        #    print(d[s]['VALUE'][c])
    if (c in d[ck[0]].index) and (c in d[ck[2]].index):
        layers = layers + d[ck[0]]['VALUE'][c]
        broilers = broilers + d[ck[2]]['VALUE'][c]
        print('LAYERS:', d[ck[0]]['VALUE'][c], 'BROILERS:', d[ck[2]]['VALUE'][c])
        
print('TOTAL LAYERS:', layers, 'TOTAL BROILERS:', broilers)

In [ ]:
animalInventories['NY']['CATTLE, INCL CALVES - INVENTORY']

for state in statenum.keys():
    for key in animal_keys:
        print(animalInventories[state][key]['COMMODITY_DESC'].unique().size)

In [ ]:
for key in animal_keys:
    print(key, animalInventories['TX'][key]['CENSUS_ROW'].unique().size,  animalInventories['TX'][key]['CENSUS_COLUMN'].unique().size)
    print(animalInventories['TX'][key]['CENSUS_ROW'].unique())

In [ ]:
for key in animal_keys:
    print(key, animalInventories['TX'][key].count())

In [ ]:
def print_stuff(state_alpha, key):
    #key = key_pre + ' - INVENTORY'
    #print(animalInventories[state_alpha][key]['CENSUS_ROW'].unique())
    print(animalInventories[state_alpha][key]['CENSUS_COLUMN'].unique())
    #print(animalInventories[state_alpha][key]['CENSUS_TABLE'].unique())
    #print(animalInventories[state_alpha][key]['CENSUS_CHAPTER'].unique())
    
def printy(key):
    print_stuff('TX', key)

for key in animal_keys:
    print(key)
    for state in statenum.keys():
        print(':::' + state)
        print_stuff(state, key)

In [ ]:
agCensus = pd.read_csv('2017_cdqt_data.txt', sep='\t', header=0, low_memory=False)
texasAnimals_pre1 = agCensus[agCensus['STATE_ALPHA'] == "TX"]
texasAnimals_pre2 = texasAnimals_pre1[texasAnimals_pre1['COUNTY_NAME'].str.contains('.+', na=False)]
texasAnimals = texasAnimals_pre2[texasAnimals_pre2['SECTOR_DESC'] == 'ANIMALS & PRODUCTS']
#texasAnimals = texasAnimals_pre3[(texasAnimals_pre3['CENSUS_CHAPTER']==2) & (texasAnimals_pre3['CENSUS_TABLE']==19)]

In [ ]:
hogs_pre1 = texasAnimals[texasAnimals['SHORT_DESC'] == 'HOGS - INVENTORY']
hogs_pre1['SECTOR_DESC'].unique()
hogs_pre1['VALUE'] = pd.to_numeric(hogs_pre1['VALUE'], errors='coerce')
#hogs_pre1['VALUE'] = hogs_pre1['VALUE'].astype(int, errors='ignore')
hogs_pre2 = hogs_pre1[hogs_pre1['VALUE'].apply(lambda x: isinstance(x,float))]
hogs = hogs_pre2[hogs_pre2['VALUE'].notnull()]
hogs['VALUE'] = hogs['VALUE'].astype(int)
hogs

In [ ]:
#texasChickenInventory = agCensusTexas3[agCensusTexas3['COMMODITY_DESC'] == 'CHICKENS']
texasChickens = texasChickenInventory[(texasChickenInventory['CENSUS_CHAPTER']==2) & (texasChickenInventory['CENSUS_TABLE']==19)]
texasBroilers = texasChickens[texasChickens['SHORT_DESC']=='CHICKENS, BROILERS - INVENTORY']
texasLayers = texasChickens[texasChickens['SHORT_DESC']=='CHICKENS, LAYERS - INVENTORY']

In [ ]:
texasLayers['COUNTY_CODE'] = texasLayers['COUNTY_CODE'].astype(int)
texasLayers['FIPS'] = (texasLayers['COUNTY_CODE'] + 1000*48).apply(str)
texasLayers.set_index('FIPS', inplace=True, drop=False)
texasLayers['VALUE'] = texasLayers['VALUE'].apply(lambda s: s.replace(',', ''))
texasLayers2 = texasLayers[texasLayers['VALUE'] != '(D)']
texasLayers2['VALUE'] = texasLayers2['VALUE'].astype(int)

In [ ]:
texasBroilers['COUNTY_CODE'] = texasBroilers['COUNTY_CODE'].astype(int)
texasBroilers['FIPS'] = (texasBroilers['COUNTY_CODE'] + 1000*48).apply(str)
texasBroilers.set_index('FIPS', inplace=True, drop=False)
texasBroilers['VALUE'] = texasBroilers['VALUE'].apply(lambda s: s.replace(',', ''))
texasBroilers2 = texasBroilers[texasBroilers['VALUE'] != '(D)']
texasBroilers2['VALUE'] = texasBroilers2['VALUE'].astype(int)

In [ ]:
# Code to map increasing list of values to RGB colors
# start is a list of initial r, g, b values
# end is a list of final r, g, b values
# Color is linearly interpolated

def valsToColors(values, start, end):
    maxValue = values[-1]
    minValue = values[0]
    factors = list(map(lambda value: (value - minValue) / (maxValue - minValue), values))
    reds   = list(map(lambda t: int(round((1-t)*start[0] + t*end[0])), factors));
    greens = list(map(lambda t: int(round((1-t)*start[1] + t*end[1])), factors));
    blues  = list(map(lambda t: int(round((1-t)*start[2] + t*end[2])), factors));
    rgbs = [f'rgb({r}, {g}, {b})' for (r,g,b) in zip(reds, greens, blues)]
    return rgbs

In [ ]:
fips = list(texasBroilers2['FIPS'])
values = list(texasBroilers2['VALUE'])
endpts = list(np.mgrid[min(values):max(values):7j])
colorscale = valsToColors(endpts, [200,255,0], [255,50,0])
endpts.pop(0)
endpts.pop(-1)

fig = ff.create_choropleth(fips=fips, values=values, scope=['TX'],
                           binning_endpoints=endpts, colorscale=colorscale,
                           county_outline={'color': 'rgb(0,0,0)', 'width': 0.5},
                           legend_title='Number of Broiler Chickens')

fig.layout.template = None
fig.show()

In [ ]:
texasSTEC = pd.read_csv('Texas_STEC_By_County.csv', sep=',', header=0)

In [ ]:
countyInfo = pd.read_csv('US_County_Info.csv', sep=',', header=0)
countyInfo.set_index('FIPS', inplace=True, drop=False)

def tx_fips(county):
    fips = list(countyInfo[(countyInfo['County'].str.upper()==county.upper()) & (countyInfo['State']=='TX')]['FIPS'])[0]
    return str(fips)

In [ ]:
texasSTEC['FIPS'] = [tx_fips(county) for county in list(texasSTEC['County'])]
texasSTEC.set_index('FIPS', inplace=True, drop=False)

In [ ]:
def agg_rate(fips):
    agg_rate = 0
    for i in range(2008,2018):
        agg_rate += texasSTEC[str(i)+' IR'][fips]
    return agg_rate

In [ ]:
texasSTEC['AGG_RATE'] = list(map(agg_rate, texasSTEC.index))

In [ ]:
texasSTEC3 = texasSTEC[texasSTEC['FIPS'].isin(texasBroilers2['FIPS'])]              # Intersect frames to avoid 
texasBroilers3 = texasBroilers2[texasBroilers2['FIPS'].isin(texasSTEC3['FIPS'])]    # missing FIPS
x_vals = np.asarray(texasBroilers3.loc[texasBroilers3['FIPS']]['VALUE'])
x_vals = x_vals.astype('float64')
y_vals = np.asarray(texasSTEC3.loc[texasSTEC3['FIPS']]['AGG_RATE'])
y_vals = y_vals.astype('float64')

In [ ]:
def errors(m, b, xs, ys):
    return ys - (m*xs + b)

def MSE(m, b, xs, ys):
    return sum(errors(m, b, xs, ys)**2)/xs.size

def dMSE_dm(m, b, xs, ys):
    return -2*sum(xs*errors(m, b, xs, ys))/xs.size
    
def dMSE_db(m, b, xs, ys):
    return -2*sum(errors(m, b, xs, ys))/xs.size

def RMSE(m, b, xs, ys):
    return math.sqrt(MSE(m,b, xs, ys))

In [ ]:
def step(m, b, x_values, y_values, learn_rate):
    m_new = m - learn_rate * dMSE_dm(m, b, x_values, y_values)
    b_new = b - learn_rate * dMSE_db(m,b, x_values, y_values)
    return (m_new, b_new)

def learn(m_initial, b_initial, x_values, y_values, learn_rate, steps):
    m = m_initial
    b = b_initial
    for i in range(steps):
        (m, b) = step(m, b, x_values, y_values, learn_rate)
    return (m, b)

In [ ]:
scale = 1/(2*max(x_vals)**2) # This is basically the invese of bound on the Laplacian of the error
(m,b) = learn(1, 25, x_vals, y_vals, scale*0.1, 100000)

In [ ]:
(m,b)

In [ ]:
def line_trace(m,b, max_val):
    xs = np.linspace(0.0, max_val, 100)
    ys = m*xs + b
    return {'x' : list(xs), 'y' : list(ys), 'mode' : 'lines', 'name' : 'Best Fit Line'}

In [ ]:
trace = {'x' : x_vals, 'y' : y_vals, 'mode' : 'markers', 'name' : 'Counties'}
figure2 = {'data': [trace, line_trace(m,b, max(x_vals))], 'layout': {'title': 'STEC Incidence Rate versus Broiler Chicken Population'}}
plot(figure2)

This is surprising! STEC cases seem to be *negatively* correlated with broiler chicken population. We can check that this is not so weak a correlation: here's the Normalized Root Mean Square Error:

In [ ]:
RMSE(m, b, x_vals, y_vals) / (max(y_vals) - min(y_vals))

## What is going on here?

It appears as though the correlation for STEC versus broiler chicken population goes the opposite direction as STEC versus catle population. This is not what we expected, so we should try to find an explanation. There might be some third factor which influences both cattle and chicken populations. It may be that chicken population is negatively correlated with the presence of another factor which more strongly influences STEC rates (for example, the presense of another type of animal which is a more favorable carrier of STEC). Ultimately, this indicates a need for multivariate regression. It is hard to make a meaningful conclusion about the effect chickens have on STEC incidents without controlling for other variables.

We can also check to see if there is a relationship between STEC rates and layer chickens:

In [ ]:
texasSTEC4 = texasSTEC[texasSTEC['FIPS'].isin(texasLayers2['FIPS'])]              # Intersect frames to avoid 
texasLayers4 = texasLayers2[texasLayers2['FIPS'].isin(texasSTEC4['FIPS'])]    # missing FIPS
x_vals2 = np.asarray(texasLayers4.loc[texasLayers4['FIPS']]['VALUE'])
x_vals2 = x_vals2.astype('float64')
y_vals2 = np.asarray(texasSTEC4.loc[texasSTEC4['FIPS']]['AGG_RATE'])
y_vals2 = y_vals2.astype('float64')

In [ ]:
scale2 = 1/(2*max(x_vals2)**2) # This is basically the invese of bound on the Laplacian of the error
(m2,b2) = learn(1, 25, x_vals2, y_vals2, scale*0.1, 100000)

In [ ]:
trace2 = {'x' : x_vals2, 'y' : y_vals2, 'mode' : 'markers', 'name' : 'Counties'}
figure3 = {'data': [trace2, line_trace(m2,b2, max(x_vals2))], 'layout': {'title': 'STEC Incidence Rate versus Layer Chicken Population'}}
plot(figure3)

In [ ]:
RMSE(m2, b2, x_vals2, y_vals2) / (max(y_vals2) - min(y_vals2))

## Conclusion

We see here a somewhat weaker correlation, this time positive. We would expect, all else being equal, that the direction of the relationship between chickens and STEC rate would not depend on whether those chickens were raised for meat or eggs, but our simple model is suggesting this is so. This indicates our model is inadequate, and there are some unaccounted for hidden variables.